<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Task</title>
    </head>
    <body>
        <div class="max-w-md mx-auto mt-10 bg-white p-6 rounded-xl shadow">
            <h1 class="text-2xl font-bold mb-2">{{ task.title }}</h1>
            <form method="POST" action="{% url 'toggle_task' task.id %}">
                {% csrf_token %}
                <button class="mt-2 px-3 py-1 rounded bg-blue-500 text-white">
                    {% if task.completed %}
                        Segna come NON completato
                    {% else %}
                        Segna come completato
                    {% endif %}
                </button>
            </form>
            <p class="text-gray-600">{{ task.description }}</p>
            <a href="/" class="text-blue-500 mt-4 inline-block">← Torna alla lista</a>
        </div>
    </body>
</html>
