{% extends "base.html" %}
{% block title %}Lista Task{% endblock %}
{% block content %}
    <div class="space-y-4">
        <h1 class="text-2xl font-semibold text-gray-800">Lista Task</h1>
       <form method="POST" action="{% url 'create_task' %}">
            {% csrf_token %}
            <button class="w-full mt-4 py-2 rounded-lg font-medium transition bg-blue-500 hover:bg-blue-600 text-white">
                    Crea task
            </button>
        </form>
        <div class="space-y-2">
            {% for task in tasks %}
                <a href="{% url 'task' task.id %}"
                   class="block p-4 rounded-lg border bg-white hover:bg-gray-50 transition shadow-sm hover:shadow">
                    <div class="flex justify-between items-center">
                        <span class="font-medium text-gray-800 {% if task.completed %}line-through text-gray-400{% endif %}">
                            {{ task.title }}
                        </span>
                        {% if task.completed %}
                            <span class="px-2 py-1 text-xs rounded-full bg-green-100 text-green-700">✓</span>
                        {% else %}
                            <span class="px-2 py-1 text-xs rounded-full bg-yellow-100 text-yellow-700">•</span>
                        {% endif %}
                    </div>
                </a>
            {% empty %}
                <p class="text-gray-400 text-sm">Nessun task ancora</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}